# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node dependencies
node_modules/
dist/
dist_packages/
release/

# Temporary & OS files
.DS_Store
Thumbs.db
electron-mac.zip

# IDE / Editor files
.vscode/
.idea/
*.swp

.vercel
src_v1_backup/
src_v02_backup/
scratch/
test_*.pdf
test_*.ts
wrap_test.pdf
